# Hello Worlding using Flask

In [8]:
import os 
model_file_path=os.path.join(os.path.pardir,'models','lr3_model.pkl')
hello_world_script_file=os.path.join(os.path.pardir,'src','models','hello_world_api.py')
print(hello_world_script_file)

..\src\models\hello_world_api.py

In [4]:
%%writefile $hello_world_script_file

from flask import Flask,request

app = Flask(__name__)

@app.route('/api',methods=['POST'])
def say_hell():
    data=request.get_json(force=True)
    name=data['name']
    return "hello {0}".format(name)
if __name__ == '__main__':
    app.run(port=10001,debug=True)

Writing ..\src\models\hello_world_api.py

In [1]:
import json
import requests
from flask import Flask

In [6]:
url='http://127.0.0.1:5000/api'
data= json.dumps({'name':'alan'})
r=requests.post(url,data)
print('asd')
print(r.text)

asd
hello World

In [9]:
machine_learning_api_script_file=os.path.join(os.path.pardir,'src','models','machine_learning_api.py')

In [36]:
%%writefile $machine_learning_api_script_file
from flask import Flask,request
import pandas as pd
import numpy as np
import json 
import pickle
import os

app=Flask(__name__)
model_file_path=os.path.join(os.path.pardir,os.path.pardir,'models','lr_model.pkl')
scaler_file_path=os.path.join(os.path.pardir,os.path.pardir,'models','lr_scaler.pk1')

with open(model_file_path, 'rb') as f:
    model_loaded= pickle.load(f)
with open(scaler_file_path, 'rb') as f:
    scaler_loaded=pickle.load(f)


@app.route('/api',methods=['POST'])
def make_prediction():
    data =json.dumps(request.get_json(force=True))
    df=pd.read_json(data)
    passenger_ids=df['PassengerId'].ravel()
    actuals=df['Survived'].ravel()
    columns_name=[]
    for i in df.columns:
        columns_name.append(i)
    columns_name.remove('PassengerId')
    columns_name.remove('Survived')
    
    X=df[columns_name].values.astype('float')
    X_scaled=scaler_loaded.transform(X)
    predictions=model_loaded.predict(X_scaled)
    df_response = pd.DataFrame({'PassengerId':passenger_ids,'Predicted':predictions,'Actial':actuals})
    return df_response.to_json()

if __name__== '__main__':
    app.run(port=10001,debug=True)

Overwriting ..\src\models\machine_learning_api.py

# Invoking api using requests

In [35]:
import os
import pandas as pd
processed_data_path = os.path.join(os.path.pardir,'data','processed')
train_file_path= os.path.join(processed_data_path,'train.csv')
train_df=pd.read_csv(train_file_path)
columns_name=[]
for i in train_df.columns:
    columns_name.append(i)
columns_name.remove('PassengerId')
columns_name.remove('Survived')
train_df[columns_name]

,Age,Fare,IsMother,FamilySize,IsMale,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,...,Pclass_3,Fare_Bin_very_low,Fare_Bin_low,Fare_Bin_high,Fare_Bin_very_high,Embarked_C,Embarked_Q,Embarked_S,AgeState_Adult,AgeState_Child
0,22.0,7.2500,0,2,1,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,0
1,38.0,71.2833,0,2,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
2,26.0,7.9250,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
3,35.0,53.1000,0,2,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,1,0
4,35.0,8.0500,0,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.0,13.0000,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
887,19.0,30.0000,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,0
888,22.0,23.4500,1,4,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,0
889,26.0,30.0000,0,1,1,0,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
890,32.0,7.7500,0,1,1,0,0,0,0,0,...,1,1,0,0,0,0,1,0,1,0

In [14]:
survived_passengers=train_df[train_df['Survived']==1][:5]
survived_passengers

,PassengerId,Survived,Age,Fare,IsMother,FamilySize,IsMale,Deck_A,Deck_B,Deck_C,...,Pclass_3,Fare_Bin_very_low,Fare_Bin_low,Fare_Bin_high,Fare_Bin_very_high,Embarked_C,Embarked_Q,Embarked_S,AgeState_Adult,AgeState_Child
1,2,1,38.0,71.2833,0,2,0,0,0,1,...,0,0,0,0,1,1,0,0,1,0
2,3,1,26.0,7.9250,0,1,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
3,4,1,35.0,53.1000,0,2,0,0,0,1,...,0,0,0,0,1,0,0,1,1,0
8,9,1,27.0,11.1333,1,3,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
9,10,1,14.0,30.0708,0,2,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1

In [15]:
import requests
def make_api_request(data):
    url='http://127.0.0.1:10001/api'
    r=requests.post(url,data)
    return r.json()

In [37]:
make_api_request(survived_passengers.to_json())

{'PassengerId': {'0': 2, '1': 3, '2': 4, '3': 9, '4': 10},
 'Predicted': {'0': 1, '1': 1, '2': 1, '3': 1, '4': 1},
 'Actial': {'0': 1, '1': 1, '2': 1, '3': 1, '4': 1}}

In [39]:
result = make_api_request(train_df.to_json())
df_result=pd.read_json(json.dumps(result))
df_result.head()

   PassengerId  Predicted  Actial
0            1          0       0
1            2          1       1
2            3          1       1
3            4          1       1
4            5          0       0

In [43]:
import numpy as np
np.mean(df_result.Actial == df_result.Predicted)

0.7744107744107744